In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('join_table_v2.csv')
df.head()

,Unnamed: 0,program_name,singer,music,views,likes,comments,atmosphere,subject
0,0,미스터트롯,임영웅,바램,2223366,22906,4689,슬픔,인생
1,1,미스터트롯,영탁,사내,604639,6583,1599,활기참,인생
2,2,미스터트롯,영탁,댄싱퀸,828628,7804,1884,신남,남녀사랑
3,3,미스터트롯,임영웅,댄싱퀸,828628,7804,1884,신남,남녀사랑
4,4,미스터트롯,영탁,막걸리 한 잔,1805978,19675,7231,활기참,부모효도

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
print(df.shape)

(435, 8)

In [4]:
df.isnull().sum()

program_name    0
singer          0
music           0
views           0
likes           0
comments        0
atmosphere      0
subject         0
dtype: int64

In [7]:
# 중복값 확인
df.duplicated().sum()

0

In [8]:
# 중복값 1개 존재
# df[df.duplicated(['singer', 'music'])]

    program_name singer music  views  likes  comments atmosphere subject
112        미스트롯1    정다경   한잔해  60525     85        10         신남    희망부여

In [12]:
# df.drop_duplicates(['singer', 'music'], keep='first', inplace=True)
# df[df['singer'] == '정다경']

    program_name singer      music   views  likes  comments atmosphere subject
106        미스트롯1    정다경     당신이 좋아   20148     74         7         신남    남녀사랑
107        미스트롯1    정다경   빨간구두 아가씨    6931      9         1        활기참    남녀사랑
108        미스트롯1    정다경        열두줄   23337    101         7         신남    남녀사랑
109        미스트롯1    정다경     벌써 12시   60525     85        10         신남    남녀사랑
110        미스트롯1    정다경       질풍가도   60525     85        10         신남    희망부여
111        미스트롯1    정다경        한잔해   34961     46         2         신남    희망부여
113        미스트롯1    정다경  내가 저지른 사랑   48417    113        43        씁쓸함    남녀사랑
114        미스트롯1    정다경     가슴 아프게   63500    218        42        애절함    남녀사랑
115        미스트롯1    정다경  미워도 다시 한번   38307     99        34        애절함    남녀사랑
116        미스트롯1    정다경    사랑의 신호등   58212    212        34         신남    남녀사랑
117        미스트롯1    정다경         약손  100237    418        87         슬픔    부모효도

In [14]:
#df.to_csv('join_table_final.csv', encoding='utf-8-sig')

# 감정, 주제 라벨링

In [3]:
df = pd.read_csv('join_table_final.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

  program_name singer    music    views  likes  comments atmosphere subject
0        미스터트롯    임영웅       바램  2223366  22906      4689         슬픔      인생
1        미스터트롯     영탁       사내   604639   6583      1599        활기참      인생
2        미스터트롯     영탁      댄싱퀸   828628   7804      1884         신남    남녀사랑
3        미스터트롯    임영웅      댄싱퀸   828628   7804      1884         신남    남녀사랑
4        미스터트롯     영탁  막걸리 한 잔  1805978  19675      7231        활기참    부모효도

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(df['atmosphere'])
df['atmos_label'] = encoder.transform(df['atmosphere'])

In [9]:
mapping = dict(zip(range(len(encoder.classes_)), encoder.classes_))
mapping

{0: '기쁨', 1: '슬픔', 2: '신남', 3: '씁쓸함', 4: '애절함', 5: '어두움', 6: '활기참'}

In [10]:
encoder = LabelEncoder()
encoder.fit(df['subject'])
df['sub_label'] = encoder.transform(df['subject'])

In [11]:
mapping = dict(zip(range(len(encoder.classes_)), encoder.classes_))
mapping

{0: '과거역경', 1: '기타', 2: '남녀사랑', 3: '부모효도', 4: '인생', 5: '희망부여'}

In [12]:
df.head()

,program_name,singer,music,views,likes,comments,atmosphere,subject,atmos_label,sub_label
0,미스터트롯,임영웅,바램,2223366,22906,4689,슬픔,인생,1,4
1,미스터트롯,영탁,사내,604639,6583,1599,활기참,인생,6,4
2,미스터트롯,영탁,댄싱퀸,828628,7804,1884,신남,남녀사랑,2,2
3,미스터트롯,임영웅,댄싱퀸,828628,7804,1884,신남,남녀사랑,2,2
4,미스터트롯,영탁,막걸리 한 잔,1805978,19675,7231,활기참,부모효도,6,3

In [13]:
df.to_csv('join_table.csv', encoding='utf-8-sig')